<div class="card">
  <div class="card-body">
    <div *ngIf="errorMsg !== ''">
      <div class="col-md-3 alert alert-danger">{{ errorMsg }}</div>
    </div>
    <form (ngSubmit)="onAdd()" #caradForm="ngForm">
      <div class="form-group row">
        <input
          type="text"
          [(ngModel)]="carad.carName"
          class="form-control col-md-3 mr-4 ml-4"
          id="caradName"
          name="caradName"
          placeholder="Enter car name"
          required
        />
        <br>
        <input
          type="text"
          [(ngModel)]="carad.currency"
          class="form-control col-md-3 mr-4 ml-4"
          id="currency"
          name="currency"
          placeholder="Enter currency"
          required
        />
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="control-label col-md-4">Horsepower</label>
          <input
            type="number"
            [(ngModel)]="carad.horsePower"
            class="form-control col-md-4 mr-2"
            id="horsePower"
            name="horsePower"
            placeholder="Enter the horsepower!"
            required
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="control-label col-md-4">Price</label>
          <input
            type="number"
            [(ngModel)]="carad.price"
            class="form-control col-md-4 mr-2"
            id="price"
            name="price"
            placeholder="Enter the price!"
            required
          />
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!caradForm.form.valid"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
</div>
