<app-menu></app-menu> <br /><br /><br />
<div *ngIf="errorMsg !== ''">
  <div class="col-md-3 alert alert-danger">{{ errorMsg }}</div>
</div>
<div class="card bg-secondary">
  <h3  class="text-light">Statistics</h3>
  <hr>
  <div *ngFor="let statistic of statistics">
    <p class="text-light">Date: {{ statistic.date }}</p>
    <p class="text-light">Average age: {{ statistic.averageAge }}</p>
    <p class="text-light">Average price: {{ statistic.averagePrice }}</p>
    <hr>
  </div>
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-4 text-light">Persons</h4>
    </div>
    <hr />
    <input
      type="search"
      class="form-control col-1 mb-3 mr-3"
      [(ngModel)]="username"
      placeholder="Name"
    />
    <div class="card-columns">
      <div *ngFor="let person of persons | personFilter: username">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ person.username }}</h5>
            <hr />
            <p class="card-text"><b>PhoneNr: </b>{{ person.phoneNr }}</p>
            <p class="card-text"><b>Age: </b>{{ person.age }}</p>
            <div class="row">
              <div class="col-1">
                <a
                  routerLink="/api/persons/{{ person.id }}/carAds"
                  class="btn btn-primary"
                  style="color: white"
                  >Carads</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <div *ngIf="page > 1">
        <button type="button" class="btn btn-light" (click)="onLeftArrow()">
          <<
        </button>
      </div>
    </div>
    <div class="col-1">
      <p class="text-light">{{ page }}</p>
    </div>
    <div class="col-1">
      <div *ngIf="page < 10">
        <button type="button" class="btn btn-light" (click)="onRightArrow()">
          >>
        </button>
      </div>
    </div>
  </div>
</div>
