div {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: lightblue;
}

label{
    font-weight: bold;
}

button{
    font-size: 20px;
    border: none;
    color: aqua;
}