<app-menu></app-menu>
<br><br><br>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div *ngIf="isDataLoaded">
      <div class="row">
        <h2 class="card-title display-4 ml-3 mt-3">{{user.username}}'s profile</h2>
      </div>
      <hr>
      <form (ngSubmit)="onUpdate(); onEditClick()" #userForm="ngForm">
        <div class="form-group row">
          <label class="control-label col-md-2">Tel. nr.</label>
          <input type="text" [(ngModel)]="user.phoneNr"
                 class="form-control col-md-3 mr-2"
                 id="telNum"
                 name="telNum"
                 required #telNum="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="telNum.valid || onEdit" class="col-md-3 alert alert-danger">Tel nr. is required</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="control-label col-md-4">Age</label>
              <input type="number" [(ngModel)]="user.age"
                     class="form-control col-md-4 mr-2"
                     id="age"
                     name="age"
                     [disabled]=onEdit>
            </div>
          </div>
        </div>
        <div class="form-group row" [hidden]="onEdit">
          <label class="control-label col-md-2">Current password</label>
          <input type="password" [(ngModel)]="currentPassw"
                 class="form-control col-md-3 mr-2"
                 id="passw"
                 name="passw"
                 required #passw="ngModel"
                 [disabled]=onEdit>
          <div [hidden]="passw.valid || onEdit" class="col-md-3 alert alert-danger">Confirm your current password!</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" [hidden]="onEdit" class="btn btn-primary mb-3">Submit
        </button>
      </form>
      <div class="row ml-1" *ngIf="credentials.id === user.id">
        <button class="btn btn-primary" [hidden]="!onEdit" (click)="onEditClick()">Modify data</button>
        <button class="btn btn-primary" (click)="onDelete(user)">Delete user</button>
      </div>
    </div>
  </div>
</div>
