<app-menu></app-menu>
<br><br><br>
<div class="card bg-secondary">
    <div class="card-body">
      <div *ngIf="errorMsg !== ''">
        <div class=" col-md-3 alert alert-danger">{{errorMsg}}</div>
      </div>
      <div class="row">
        <h4 class="card-title col-2">Carads</h4>
        <div *ngIf="showAddCarad === false; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button class="btn btn-primary ml-1" (click)="onShowAddCarad()" style="background: #5dc40b">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                 viewBox="0 0 16 16">
              <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg>
          </button>
        </ng-template>
        <ng-template #elseBlock>
          <button class="btn btn-danger ml-1" (click)="onHideAddCarad()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
            </svg>
          </button>
        </ng-template>
      </div>
      <hr>
      <div *ngIf="showAddCarad === true">
        <app-carad-form (newCaradEvent)="addCarad($event)"></app-carad-form>
        <hr>
      </div>
      <div class="card-columns">
        <input type="search" class="form-control col-1 mb-3 mr-3" [(ngModel)]=carName placeholder="Name">
        <div *ngFor="let carad of carads  | caradFilter: carName">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{carad.carName}}</h5>
              <hr>
              <p class="card-text"><b>Horsepower: </b>{{carad.horsePower}}</p>
              <p class="card-text"><b>Price: </b>{{carad.price}} {{carad.currency}}</p>
              <div class="row">
                <div class="col-10"></div>
                <button class="btn btn-primary" (click)="onDelete(carad)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  