<app-menu></app-menu>
<br><br><br>
<div class="card">
  <div class="card-body">
    <div *ngIf="errorMessage !== ''">
      <div class="col-md-3 alert alert-danger">{{errorMessage}}</div>
    </div>
    <div *ngIf="isDataLoaded">
      <div class="row">
        <h2 class="card-title display-4 ml-3 mt-3">{{carad.carName}}</h2>
      </div>
      <hr>
      <form (ngSubmit)="onUpdate(); onEditClick()" #caradForm="ngForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="control-label col-md-4">Horsepower</label>
              <input type="number" [(ngModel)]="carad.horsePower"
                     class="form-control col-md-4 mr-2"
                     id="horsePower"
                     name="horsePower"
                     [disabled]=onEdit>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="control-label col-md-4">Price</label>
                <input type="number" [(ngModel)]="carad.price"
                       class="form-control col-md-4 mr-2"
                       id="price"
                       name="price"
                       [disabled]=onEdit>
              </div>
            </div>
          </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Currency</label>
            <input type="text" [(ngModel)]="carad.currency"
                   class="form-control col-md-3 mr-2"
                   id="currency"
                   name="currency"
                   required #telNum="ngModel"
                   [disabled]=onEdit>
            <div [hidden]="telNum.valid || onEdit" class="col-md-3 alert alert-danger">Tel nr. is required</div>
          </div>
        <button type="submit" [disabled]="!caradForm.form.valid" [hidden]="onEdit" class="btn btn-primary mb-3">Submit
        </button>
      </form>
      <div class="row ml-1" *ngIf="credentials.id === carad.person.id">
        <button class="btn btn-primary" [hidden]="!onEdit" (click)="onEditClick()">Modify data</button>
        <button class="btn btn-primary" (click)="onDelete(carad)">Delete carad</button>
      </div>
    </div>
  </div>
</div>
