<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="#">
      Idde project
    </a>
    <div *ngIf="credentials.username === ''; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="navbar-header">
        <a routerLink="/api/login" class="btn btn-primary">Login</a>
      </div>
      <div class="navbar-header">
        <a routerLink="/api/registration" class="btn btn-primary">Registration</a>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="navbar-header">
        <a routerLink="/api/persons" class="btn btn-primary" style="color: white">Persons</a>
      </div>
      <div class="navbar-header">
        <a routerLink="/api/carAds" class="btn btn-primary" style="color: white">CarAds</a>
      </div>
      <div class="navbar-header">
        <a (click)="profile(credentials.id)" class="btn btn-primary" style="color: white">Profile</a>
      </div>
      <div class="navbar-header">
        <a style="color:white" (click)="logout()" class="btn btn-primary">Logout({{credentials.username}})</a>
      </div>
    </ng-template>
  </nav>
  